[run]
branch = True

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit = fastjmd95/test/*
       fastjmd95/__init__.py
       fastjmd95/_version.py
